body{
    text-align: center;
    background: lightblue;
    color: navy;
    font-family: 'Times New Roman', Times, serif;
    padding: 5%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 24px;
}
li{
    display: flex;
    flex-direction: column;
    transition: all .5s;
}
li:hover{
    transform: scale(1.05);
}
img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    outline: solid 4px white;
}